<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col mf-12">
            <p class="lead">Welcome to our Homepage!</p>
            <p>Here, you can view the leagues a football team participates in <b>or</b> you can view the players who currently play for the team</p>
            <p>To check leagues, please click <a href="http://dev-tsehgal2-1797698288.us-west-2.elb.amazonaws.com/leagues?team=33">here</a>. You can change the team you view by changing the team number specified in the address bar. A list of teams and their corresponding numbers can be found below</p>
            <p>To check players, please click <a href="http://dev-tsehgal2-1797698288.us-west-2.elb.amazonaws.com/players?team=33">here</a>. You can change the team you view by changing the team number specified in the address bar. A list of teams and their corresponding numbers can be found below</p>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Manchester United</th>
                  <td>33</td>
                </tr>
                <tr>
                  <th scope="row">France</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">Newcastle United</th>
                  <td>34</td>
                </tr>
                <tr>
                  <th scope="row">Serbia</th>
                  <td>3</td>
                </tr>
                <tr>
                  <th scope="row">Belgium</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row">Manchester City</th>
                  <td>50</td>
                </tr>
                <tr>
                  <th scope="row">PSG</th>
                  <td>85</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>